beautifulsoup4==4.12.3
curl_cffi==0.15.0
fake-useragent==1.5.0
fastapi==0.135.3
groq==1.1.2
loguru==0.7.2
pandas==2.2.1
playwright==1.42.0
playwright-stealth==2.0.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.31.0
serpapi==0.1.5
SQLAlchemy==2.0.28
uvicorn==0.44.0
google-genai==1.70.0
